{% load category_tags %}
{% load site_settings_tags %}
{% load static %}
{% load static_files_versions_tags %}
{% load messages_count_tags %}

{% get_categories as categories %}
{% get_contacts as contacts %}
{% get_slides as slides %}
{% get_server_ran_time as server_ran_time %}
{% get_messages_count as messages_count %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/imgs/icon.png">

	<title>{% block title %}kassym.qazaq{% endblock %}</title>

	<link rel="stylesheet" href="{% static 'v2/css/base.css' %}?v={{ server_ran_time }}">
	<link rel="stylesheet" href="{% static 'v2/css/media_base.css' %}?v={{ server_ran_time }}">

    {% block styles %}
    {% endblock %}
</head>
<body>
	<div class="main_content">
		<div class="block navbar-top-block">
			<div class="container navbar-top-container">
				<div class="left-side">
					{% for contact in contacts %}
					{% if contact.type == 'whatsapp' %}
					<p>Тех. поддержка: {{ contact.contact }}</p>
					{% endif %}
					{% endfor %}
				</div>

				<div class="right-side">
<!--					<p><a href="#">Как купить?</a></p>-->
					<p><a href="/#how_to_use_catalog">Как пользоваться системой?</a></p>
					<p><a href="/agreement/">Договор-офферта</a></p>
				</div>
			</div>
		</div>

		<div class="block navbar-block">
			<div class="container navbar-container">
				<a style="width: fit-content" href="/"><h2 style="width: fit-content"><img src="{% static 'v2/imgs/kaskat_logo.png' %}" id="kaskat_logo"></h2></a>

				<form class="search" action="/search_result/">
					<input type="text" placeholder="Наименование или артикул" name="search_input">
					<button>Поиск</button>
				</form>

				{% if request.user.is_authenticated %}
				<a id="messages_anchor" style="margin: auto 0 auto auto; height: 30px; width: 30px" href="/messages/">
					<img src="{% static 'v2/imgs/chat_icon.png' %}" width="30" height="30">
					{% if messages_count > 0 %}<div class="count"><span>{% if messages_count > 99 %}+99{% else %}{{ messages_count }}{% endif %}</span></div>{% endif %}
				</a>
				{% endif %}

				<div class="authentication" style="{% if request.user.is_authenticated %}margin-left: 2px{% else %}margin-left: auto{% endif %}">
					{% if not request.user.is_authenticated %}
					<button class="signup_btn" onclick="document.getElementById('login_form_window').style.display = 'block'">Войти</button>
					{% else %}
					<div id="profile_dropdown_btn" class="profile_dropdown_btn" onclick="profile_dropdown_clicked()">
						<div class="user">
							{% if request.user.client %}
							<p class="fullname">{{ request.user.client.fullname }}</p>
							<span class="company_name">{{ request.user.client.company_name }}</span>
							{% else %}
							<p class="fullname">Admin</p>
							<span class="company_name">Admin</span>
							{% endif %}
						</div>

						<div class="bars">
							<div class="bar"></div>
							<div class="bar"></div>
						</div>

						<div class="profile_dropdown">
							<a href="/profile/"><img src="{% static 'v2/imgs/profile_icon.png' %}" alt=""><span>Профиль</span></a>
							<a href="/favourites/"><img src="{% static 'v2/imgs/empty_heart.png' %}" alt=""><span>Избранные</span></a>
							<a href="/my_cards/" style="transform: translateX(-3px); gap: 11.5px;"><img style="width: 31px; height: 28px;" src="{% static 'v2/imgs/my_cards_icon.png' %}" alt=""><span>Мои карточки</span></a>
							<a href="/cart/"><img style="transform: translateX(-2px);" src="{% static 'v2/imgs/cart_icon.png' %}" alt=""><span>Корзина</span></a>
							<a href="/my_orders/"><img style="transform: translateX(-2px);" src="{% static 'v2/imgs/my_orders_icon.png' %}" alt=""><span>Мои заказы</span></a>
							<a href="/courses/"><img src="{% static 'v2/imgs/courses_icon.png' %}" alt=""><span>Курсы</span></a>
							<hr>
							<a style="color: #f66161;" href="/api/user/logout/"><img style="transform: translateX(2px);" src="{% static 'v2/imgs/logout_icon.png' %}" alt=""><span>Выйти</span></a>
						</div>
					</div>
					{% endif %}
				</div>

				<div class="hamburger-menu" onclick="open_burger()" style="{% if request.user.is_authenticated %}margin-left: 20px{% else %}margin-left: auto{% endif %}">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
				</div>

				<div class="burger">
					<div class="burger-container">
						<div class="burger-content">
							<a href="/">Главная</a>
							<a onclick="open_categories_burger()">Ниши</a>

							{% if request.user.is_authenticated %}
							<a href="/favourites/">Избранные</a>
							<a href="/my_cards/">Мои карточки</a>
							<a href="/cart/">Корзина</a>
							<a href="/my_orders/">Мои заказы</a>
							<a href="/courses/">Курсы</a>
							{% endif %}

							<a href="/agreement/">Договор-офферта</a>
							<a onclick="open_instruction_window()">Как пользоваться системой?</a>

							<div class="authentication">
								{% if not request.user.is_authenticated %}
								<button class="login_btn" onclick="document.getElementById('login_form_window').style.display = 'block'">Войти</button>
								{% else %}
								<button class="login_btn" onclick="window.location.href = '/profile/'">Профиль</button>
								{% endif %}
							</div>
						</div>

						<div class="categories-burger-content">
							<a onclick="close_categories_burger()" class="go_back_to_burger">
								<div class="bars">
									<div class="bar"></div>
									<div class="bar"></div>
								</div>
								<span>Назад</span>
							</a>
							<hr>

							<div class="categories">
								{% for category in categories %}
								<a href="/products/?category_id={{ category.id }}">{{ category.name }}</a>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% block body %}
		{% endblock %}
	</div>

	<div class="block footer-block">
		<div class="container footer-container">
			<div class="top">
				<div class="information">
					<h2>Информация</h2>

	<!--				<p><a href="#">Как купить?</a></p>-->
					<p><a href="/#how_to_use_catalog">Как пользоваться системой?</a></p>
					<p><a href="/agreement/">Договор-офферта</a></p>
				</div>

				<div class="navigation">
					<h2>Магазин</h2>

					<p><a href="/">Главная</a></p>

					{% if request.user.is_authenticated %}
					<p><a href="/products/?category_id=7">Ниши</a></p>
					<p><a href="/profile/">Профиль</a></p>
					<p><a href="/favourites/">Избранные</a></p>
					<p><a href="/my_cards/">Мои карточки</a></p>
					{% else %}
					<p><a onclick="document.getElementById('login_form_window').style.display = 'block'">Ниши</a></p>
					<p><a onclick="document.getElementById('login_form_window').style.display = 'block'">Профиль</a></p>
					<p><a onclick="document.getElementById('login_form_window').style.display = 'block'">Избранные</a></p>
					{% endif %}
				</div>

				<div class="contacts">
					<h2>Контакты</h2>

					{% for contact in contacts %}
						{% if contact.type == 'footer' %}
							{% autoescape off %}
								{{ contact.contact }}
							{% endautoescape %}
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<hr>

			<div class="bottom">
				<p>© kassym.com 2023 Copyright</p>
				<div class="social_media">
				{% for contact in contacts %}
					{% if contact.type == 'instagram' %}
						<a target="_blank" href="{{ contact.link }}"><img src="{% static 'imgs/footer_instagram.png' %}" alt=""></a>
					{% elif contact.type == 'whatsapp' %}
						<a target="_blank" href="{{ contact.link }}"><img src="{% static 'imgs/footer_whatsapp.png' %}" alt=""></a>
					{% endif %}
				{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div id="login_form_window">
		<form class="login_form" onsubmit="login(event)">
			{% csrf_token %}
			<h3>Вход</h3>

			<input type="text" id="login_form_phone_number" placeholder="Номер телефона" oninput="phone_number_on_input(event)">
			<input type="password" id="login_form_password" placeholder="Пароль">

			<p id="login_error" style="color: red; font-size: 12px;"></p>

			<button type="submit">Войти</button>
			<img src="{% static 'v2/imgs/close_form.png' %}" alt="" onclick="document.getElementById('login_form_window').style.display = 'none'">
		</form>
	</div>

	<div id="watch_instruction_form_window">
		<form class="watch_instruction_form" onsubmit="leave_request(event)">
			<h3>Анкета</h3>

			<input type="text" name="fullname" placeholder="ФИО" id="leave_request_fullname">
			<input type="text" name="phone_number" placeholder="Номер телефона" oninput="phone_number_on_input(event)" id="leave_request_phone_number">

			<button type="submit">Оставить анкету</button>
			<img src="{% static 'v2/imgs/close_form.png' %}" alt="" onclick="document.getElementById('watch_instruction_form_window').style.display = 'none'">
		</form>
	</div>

	<div id="watch_instruction_window">
		<div class="window">
			<video id="instruction_video" playsinline controls>
				<source src="{% static 'v2/instruction.mp4' %}" type="video/mp4">
				<source src="{% static 'v2/instruction.mp4' %}" type="video/webm">
				<source src="{% static 'v2/instruction.mp4' %}" type="video/ogg">
				<source src="{% static 'v2/instruction.mp4' %}" type="video/quicktime">
				<source src="{% static 'v2/instruction.mp4' %}" type="video/x-msvideo">
				<source src="{% static 'v2/instruction.mp4' %}" type="video/x-matroska">
				<source src="{% static 'v2/instruction.mp4' %}" type="video/x-flv">
				<source src="{% static 'v2/instruction.mp4' %}" type="video/x-ms-wmv">
				<source src="{% static 'v2/instruction.mp4' %}" type="video/x-ms-asf">
				<source src="{% static 'v2/instruction.mp4' %}" type="video/3gpp">
				<source src="{% static 'v2/instruction.mp4' %}" type="video/3gpp2">
				Ваш браузер не поддерживает воспроизведение видео.
			</video>
			<img src="{% static 'v2/imgs/close_form.png' %}" alt="" onclick="close_instruction_video()">
		</div>
	</div>

	<div id="add_to_cart_form">
		<form onsubmit="submit_add_to_cart_form(event)">
			<img src="{% static 'v2/imgs/close_form.png' %}" onclick="document.getElementById('add_to_cart_form').style.display = 'none'">

			{% csrf_token %}
			<input type="hidden" id="add_to_cart_form-product_id">

			<h2>Добавить в корзину</h2>

			<div class="content">
				<div id="add_to_cart_form-poster"></div>

				<div class="info">
					<div class="product">
						<p id="add_to_cart_form-name"></p>
						<p id="add_to_cart_form-category_name"></p>
					</div>

					<div class="count_management">
						<button type="button" onclick="minus_count()"><div class="bar"></div></button>
						<p id="add_to_cart_form-count"></p>
						<button type="button" onclick="plus_count()"><div class="bar"></div><div class="bar vertical_bar"></div></button>

						<p id="add_to_cart_form-price"></p>
						<p style="margin-left: 3px;">Р</p>
					</div>
				</div>
			</div>

			<div class="action">
				<button type="submit">Добавить в корзину</button>
				<p>Итого: <span id="add_to_cart_form-sum"></span> <span style="margin-left: -2px;">Р</span></p>
			</div>
		</form>
	</div>



	<script>
	{% if not request.user.is_authenticated %}
		let user_is_authenticated = false
	{% else %}
		let user_is_authenticated = true
	{% endif %}
	</script>

	<script src="{% static 'v2/js/packages/vue.global.prod.js' %}"></script>
	<script src="{% static 'v2/js/packages/vue-cookies.js' %}"></script>
	<script src="{% static 'v2/js/packages/jquery.min.js' %}"></script>
	<script src="{% static 'v2/js/packages/axios.min.js' %}"></script>
	<script src="{% static 'v2/js/packages/pagination.js' %}"></script>
	<script src="{% static 'v2/js/packages/sweetalert2.all.min.js' %}"></script>

	<script src="{% static 'v2/js/base.js' %}?v={{ server_ran_time }}"></script>
	{% block scripts %}
    {% endblock %}
</body>
</html>
