{% extends 'v2/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'v2/css/main_page.css' %}?v={{ server_ran_time }}">
<link rel="stylesheet" href="{% static 'v2/css/media_main_page.css' %}?v={{ server_ran_time }}">
<link rel="stylesheet" href="{% static 'v2/css/my_order_page.css' %}?v={{ server_ran_time }}">
{% endblock %}


{% block body %}
<div class="block" id="my_order_page">
    <div class="window" id="replaced_by_product_image_window" style="display: none">
        <div class="_window">
            <img src="{% static 'v2/imgs/close_form.png' %}" class="close_window_btn" onclick="close_replaced_by_product_image()">
            <img class="product_image" id="replaced_by_product_image">
        </div>
    </div>

    <div class="container">
        <div class="path">
            <button class="go_back_btn" onclick="window.history.go(-1)">
                <div class="bar"></div>
                <div class="bar"></div>
            </button>
            <a href="/">Главная</a>
            <span>/</span>
            <a href="/my_orders/">Мои заказы</a>
            <span>/</span>
            <a>Заказ #{{ order.id }}</a>
        </div>

        <div class="title" style="margin-bottom: 15px">
            <h2>Заказ #{{ order.id }}</h2>
            {% if order.sorted_report or order.reports.all|length > 0 %}
            <a style="text-decoration: underline; color: blue" onclick='document.getElementById("report_window").style.display = "block"'>Посмотреть фотоотчеты</a>
            {% endif %}
        </div>

        <h4 style="margin: 0;">Документы</h4>
        <ol style="margin-top: 3px; margin-bottom: 35px;">
            <li><a target="_blank" href="{{ order.paid_check_file.url }}">Чек с kaspi.kz</a></li>
            <li><a target="_blank" href="{{ order.selection_sheet_file.url }}">Лист подбора</a></li>
            <li><a target="_blank" href="{{ order.deliveries_qr_code.url }}">QR поставки</a></li>

            {% for order_item in order.order_items.all %}
            <li><a target="_blank" href="{{ order_item.qr_code.url }}">QR товара "{{ order_item.product.name }}"</a></li>
            {% endfor %}
        </ol>

        <div class="products_list">
            {% for order_item in order.order_items.all %}
                {% for purchase in order_item.purchases.all %}
                <a href="/product/?product_id={{ order_item.product.id }}" class="product_card">
                    <div class="absolute_product_card">
                        <div class="product_img" style="background-image: url(https://kassym.com/{{ order_item.product.poster.url }});"></div>

                        <div class="text">
                            <div class="product_name_block">
                                <span class="product_name">{{ order_item.product.name }}</span>
                            </div>

                            <div class="availability">
                                <span class="product_is_available {{ purchase.status }}">{{ purchase.get_status_display }}</span>
                                {% if purchase.status == 'replaced' %}
                                <img onclick="open_replaced_by_product_image(event, '{{ purchase.replaced_by_product_image.url }}')" src="{% static 'v2/imgs/eye_icon.png' %}" alt="">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="window product_image_window" id="report_window">
    <div class="_window">
        <img src="{% static 'v2/imgs/close_form.png' %}" class="close_window_btn" onclick='document.getElementById("report_window").style.display = "none"'>

        <button class="go_left_btn" onclick="scroll_left()">
            <div class="bar-btt"></div>
            <div class="bar-ttb"></div>
        </button>

        <button class="go_right_btn" onclick="scroll_right()">
            <div class="bar-ttb"></div>
            <div class="bar-btt"></div>
        </button>

        <div class="images" id="report_images">
            <img class="product_image" src="/media/{{ order.sorted_report }}">
            {% for report in order.reports.all %}
            <img class="product_image" src="{{ report.report.url }}">
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'v2/js/my_order_page.js' %}?v={{ server_ran_time }}"></script>
{% endblock %}
