{% load static %}

<div class="products_list">
    {% for product in products %}
    <a href="/product/?product_id={{ product.id }}" class="product_card">
        <div class="absolute_product_card">
            <div class="product_img" style="background-image: url(https://kassym.com{{ product.image }});">
                {% if product.discount_percentage > 0 %}
                    <p class="discount_percentage">-{{ product.discount_percentage }}%</p>
                {% endif %}
            </div>

            <div class="text">
                <div class="product_prices">
                    {% if product.discount_percentage > 0 %}
                    <span class="product_price_with_discount">{{ product.price_with_discount }} Р</span>
                    <span class="product_price">{{ product.price }} Р</span>
                    {% else %}
                    <span class="product_price_with_discount">{{ product.price }} Р</span>
                    {% endif %}
                </div>

                <div class="product_name_block">
                    <span class="product_name">{{ product.name }}</span>
                </div>

                <div class="product_category_block">
                    <span class="product_category">{{ product.category_name }}</span>
                </div>

                <div class="availability">
                    {% if product.is_available or product.count > 0 %}
                        <span class="product_is_available">В наличии</span>
                        {% if product.count > 0 %}
                        <span class="product_count">{{ product.count }} шт</span>
                        {% endif %}
                    {% else %}
                    <span class="product_is_not_available">Нет в наличии</span>
                    {% endif %}
                </div>

                {% if request.user.is_authenticated or user.is_authenticated %}
                <button class="add_to_cart_btn" onclick="event.preventDefault(); open_add_to_cart_form({{ product.id }}, '{{ product.name }}', '{{ product.category_name }}', {{ product.price_with_discount }}, '{{ product.image }}')">В корзину</button>
                {% else %}
                <button class="add_to_cart_btn" onclick="document.getElementById('login_form_window').style.display = 'block'">В корзину</button>
                {% endif %}
            </div>

            {% if product.is_favourite %}
            <img src="{% static 'v2/imgs/heart.png' %}" alt="" class="add_wishlist_btn" onclick="add_wishlist(event)" data-value="true" data-id="{{ product.id }}">
            {% else %}
            <img src="{% static 'v2/imgs/empty_heart.png' %}" alt="" class="add_wishlist_btn" onclick="add_wishlist(event)" data-value="false" data-id="{{ product.id }}">
            {% endif %}
        </div>
    </a>
    {% endfor %}
</div>