@media(max-width: 1150px) {
    video{
        width: 550px;
        height: 290px;
    }

    .lessons_list_block {
        margin-left: 20px;
        min-width: 280px;
        height: 290px;
    }

    .course_name b {
        font-size: 17px;
    }

    .lesson_name span {
        font-size: 14px;
    }
}

@media(max-width: 900px) {
    video{
        width: 100%;
        height: auto;
    }

    .content_block {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .lessons_list_block {
        margin-left: 0px;
        width: 100%;
    }
}

@media(max-width: 630px) {
    .courses_card {
        width: 100%;
    }

    .courses_card .courses_img {
        height: 270px;
    }
}

@media(max-width: 500px) {
    .courses_card .courses_img {
        height: 200px;
    }
}

