@media(max-width: 1150px) {
    .navbar-container a {
        margin-right: 60px;
    }

    .navbar-container .authentication .profile_dropdown_btn .user * {
        max-width: 155px;
    }

	.container {
		width: 850px;
	}

	.footer-container {
        gap: 115px;
        row-gap: 20px;
	}

    .navbar-container .search input {
        width: 250px;
    }

    .navbar-container .pages {
        display: none;
    }

	.navbar-container h2, .navbar-container a {
	    width: 230px;
	}

    #add_to_cart_form form {
        width: 700px;
        max-width: 700px;
    }
}

@media(max-width: 900px) {
	.container {
		width: 600px;
	}

    .navbar-container .search, .navbar-top-container {
        display: none;
    }

	.footer-container .top {
		gap: 70px;
		row-gap: 45px;
	}

	.footer-container p, .footer-container * {
	    font-size: 17px;
	}

	.footer-container h2 {
	    font-size: 20px;
	}

	.navbar-container .authentication {
	    display: none;
	}

	.hamburger-menu {
		display: block;
        height: 30px;
        margin: auto 0 auto auto;
	}

	.burger {
        display: block;
        left: auto;
        right: -45px;
        width: 50%;
        padding-top: 80px;
        padding-left: 40px;
	}

    #add_to_cart_form form {
        width: 500px;
        max-width: 500px;
    }

    #messages_anchor {
        transform: translateY(3.5px);
    }

    #kaskat_logo {
        height: 25px;
        transform: translateY(4.6px)
    }
}

@media(max-width: 630px) {
    .container {
        width: 480px;
    }

	.burger {
        width: 70%;
	}

    #add_to_cart_form form {
        width: 400px;
        max-width: 400px;
    }
}

@media(max-width: 500px) {
	.container {
		width: 350px;
	}

	.footer-container {
	    gap: 25px;
	}

	.footer-container .contacts {
	    width: 100%;
	}

	.burger {
        width: 85%;
	}

    .footer-container .bottom {
        flex-direction: column-reverse;
        align-items: baseline;
        gap: 15px;
	}

    #add_to_cart_form form {
        width: 300px;
        max-width: 300px;
    }

    #add_to_cart_form .action {
        flex-direction: column-reverse;
        align-items: baseline;
        gap: 10px;
    }

    #add_to_cart_form-name {
        font-size: 17px;
        line-height: 17px;
    }

    #add_to_cart_form-category_name {
        font-size: 11px;
    }
}

