body {
    background-color: #00000008;

}

#my_orders_page .container, .navbar-top-block, .navbar-block {
    background-color: white;

}

#my_orders_page .container {
    margin-top: 20px;

}

#my_orders_page .section {
    padding: 20px 55px 40px 55px;

}

#my_orders_page .header {
    display: flex;
    align-items: center;
    gap: 15px;
}

#my_orders_page hr {
    width: 100%;
    height: 2px;
    background-color: #0000001a;
    border: none;
}

#my_orders_page .section hr {
    height: 1px;

}

#my_orders_page .orders {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#my_orders_page .orders .order {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-between;
}

#my_orders_page .orders .order:hover .inner h3 {
    text-decoration: underline;
}

#my_orders_page .orders .order .inner {
    width: 100%;
}

#my_orders_page .orders .order .inner h3 {
    font-size: 18px;
}

#my_orders_page .orders .order .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#my_orders_page .orders .order .text p {
    margin: 0;
    opacity: 0.5;
    font-size: 15px;
}

#my_orders_page .orders .order .text p.order_status {
    opacity: 1;
}

#my_orders_page .orders .order .text p.order_status {
    color: green;
}

#my_orders_page .orders .order .text p.order_status.new, #my_orders_page .orders .order .text p.order_status.canceled {
    color: red;
}

#my_orders_page .orders .order a {
    font-size: 18px;
    color: black;
}

.window {
    display: none;
    background: rgb(164 164 164 / 40%);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.window.product_image_window {
    z-index: 11;
}

.window.product_image_window ._window {
    background: none;
    display: flex;

    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.window .product_image {
    max-height: 85vh;
    max-width: 85vw;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.window ._window .close_window_btn {
    position: absolute;
    right: 22px;
    top: 22px;
    cursor: pointer;
}




@media(max-width: 900px) {
    #my_orders_page .section {
        padding: 5px 30px 40px 30px;
    }
}

@media(max-width: 630px) {
    #my_orders_page .orders .order .text {
        width: calc(100% / 2);
    }

    #my_orders_page .orders .order {
        row-gap: 20px;
    }
}

@media(max-width: 500px) {
    body {
        background: white;
    }

    #my_orders_page .header h3 {
        margin: 0;
    }

    #my_orders_page .section {
        padding: 0;
    }
}
