{% load static %}

<div id="expenses_section" class="section">
    <div class="header">
        <div class="_header">
            <h3>Расходы</h3>
            <p>Сумма расходов: <span>${ total_expenses_in_tenge } тг / ${ total_expenses_in_ruble } Р</span></p>
        </div>

        <hr>

        <div class="sub_header">
            <select @change="select_change_time()" v-model="selected_change_time">
                <option v-for="change_time in change_times" :value="change_time.dt">Смена: ${ change_time.dt }</option>
            </select>

            <div v-if="selected_change_time_is_today()" class="add_expense_btn_block">
                <button @click="open_expense_form()">Добавить расходы</button>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="actions">
            <div class="action" v-for="expense in expenses">
                <div class="text">
                    <p>${ expense.total_managers_expenses_in_ruble } P</p>
                    <p style="font-size: 12px; opacity: 0.6;">${ expense.total_managers_expenses_in_tenge } тг</p>
                    <span>${ expense.description }</span>
                </div>
            </div>
        </div>
    </div>
</div>
