{% load static %}

<div id="finance_section" class="section">
    <div class="header">
        <h3>Финансы</h3>

        <hr>

        <div class="sub_header">
            <select @change="select_change_time()" v-model="selected_change_time">
                <option v-for="change_time in change_times" :value="change_time.dt">Смена: ${ change_time.dt }</option>
            </select>
        </div>
    </div>

    <div class="content">
        <div class="block">
            <h3>Общий</h3>

            <div class="actions">
                <div class="action">
                    <img src="{% static 'v2/imgs/total_price_icon.png' %}" style="width: 35px; height: 40px">

                    <div class="text">
                        <p>${ finance.total_price } тг</p>
                        <span>На каспий</span>
                    </div>
                </div>

                <div class="action">
                    <img src="{% static 'v2/imgs/accepted_orders_icon.png' %}">

                    <div class="text">
                        <p>${ finance.total_products_price_for_markets + finance.total_products_price_for_china } Р</p>
                        <span>За товары (Общий)</span>
                    </div>
                </div>

                <div class="action">
                    <img src="{% static 'v2/imgs/accepted_orders_icon.png' %}" style="visibility: hidden; width: 0;">

                    <div class="text">
                        <p>${ finance.total_products_price_for_china } Р</p>
                        <span>За товары (Китай)</span>
                    </div>
                </div>

                <div class="action">
                    <img src="{% static 'v2/imgs/accepted_orders_icon.png' %}" style="visibility: hidden; width: 0;">

                    <div class="text">
                        <p>${ finance.total_products_price_for_markets } Р</p>
                        <span>За товары (Базар)</span>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: none" class="block">
            <h3>Росходы отделов</h3>

            <div class="actions">
                <div class="action">
                    <div class="text">
                        <p>${ finance.total_managers_expenses_in_ruble } тг</p>
                        <p style="font-size: 12px; opacity: 0.6;">${ finance.total_managers_expenses_in_tenge } тг</p>
                        <span>На каспий</span>
                    </div>
                </div>

                <div class="action">
                    <div class="text">
                        <p>${ finance.total_buyers_expenses_in_ruble } Р</p>
                        <p style="font-size: 12px; opacity: 0.6;">${ finance.total_buyers_expenses_in_tenge } тг</p>
                        <span>За товары</span>
                    </div>
                </div>

                <div class="action">
                    <div class="text">
                        <p>${ finance.total_sorters_expenses_in_ruble } Р</p>
                        <p style="font-size: 12px; opacity: 0.6;">${ finance.total_sorters_expenses_in_tenge } тг</p>
                        <span>Росходы</span>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: none" class="block">
            <h3>Росходы сотрудников</h3>

            <div class="pre_table">
                <div class="table">
                    <div class="columns">
                        <p class="is_express"></p>
                        <p class="company_name">Сотрудник</p>
                        <p class="count">Сумма</p>
                        <p class="description">Описание</p>
                    </div>

                    <div class="rows">
                        <div class="row" v-for="expense in finance.expenses">
                            <hr>
                            <div class="_row">
                                <p class="is_express"></p>
                                <p class="company_name" style="text-decoration: none">${ expense.staff_fullname }</p>
                                <p class="count">${ expense.sum }</p>
                                <p class="description">${ expense.description }</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

