{% load static %}

<div id="settings_section" class="section">
    <h3>Настройки</h3>

    <h4 onclick="open_change_password_form()"><a>Изменить пароль</a></h4>

    <div class="window" id="change_password_form" style="display: none;">
        <form class="_window change_password_window" onsubmit="change_password(event)" style="height: fit-content">
            {% csrf_token %}
            <h3>Изменить пароль</h3>

            <input type="password" name="old_password" placeholder="Текущий пароль" required>
            <input type="password" name="new_password1" placeholder="Новый пароль" required>
            <input type="password" name="new_password2" placeholder="Подтвердить новый пароль" required>

            <p id="change_password_error" style="color: red; font-size: 12px;"></p>

            <button type="submit">Изменить</button>
            <img src="{% static 'v2/imgs/close_form.png' %}" class="close_window_btn" onclick="close_change_password_form()">
        </form>
    </div>
</div>

<script>
    let user_id = {{ request.user.id }}

    function open_change_password_form() {
        document.getElementById('change_password_form').style.display = 'block'
    }

    function close_change_password_form() {
        document.getElementById('change_password_form').style.display = 'none'
    }

    function change_password(event) {
        event.preventDefault()
        var form = event.target

        if (!form.disabled) {
            form.disabled = true
            form.querySelectorAll("button[type='submit']")[0].style.opacity = "0.5"
            document.getElementById("change_password_error").innerText = ""

            var data = {}
            var inputs = form.getElementsByTagName("input");

            for (var i = 0; i < inputs.length; i++) {
                data[inputs[i].name] = inputs[i].value
            }

            axios.post("/api/user/change_password/", data, {
                headers: {
                    "X-CSRFToken": $cookies.get("csrftoken"),
                }
            }).then((response) => {
                close_change_password_form()
                form.reset()
                Swal.fire("Пароль успешно изменен", "", "success")
            }).catch((error) => {
                if (error.response) {
                    if (error.response.status == 400) {
                        for (var key in error.response.data) {
                            for (var err in error.response.data[key]) {
                                document.getElementById("change_password_error").innerText = error.response.data[key][err]
                                break
                            }
                        }
                    } else if (error.response.status == 403) {
                        document.getElementById("change_password_error").innerText = error.response.data["detail"]
                    } else {
                        swal("Упс", "Что-то пошло не так!")
                    }
                }
            }).finally(() => {
                form.disabled = false
                form.querySelectorAll("button[type='submit']")[0].style.opacity = "1"
            })
        }
    }
</script>