{% load static %}

<div id="sorting_section" class="section">
    <div class="header">
        <h3>Сортировка</h3>

        <hr>

        <div class="sub_header">
            <form class="searching" @submit.prevent="search()">
                <input type="text" v-model="search_input">
                <button type="submit">Поиск</button>
                <span v-if="searched" style="cursor: pointer" @click="search_input=''; search()">Отменить поиск</span>
            </form>
        </div>
    </div>

    <div class="content">
        <div class="table">
            <div class="statuses">
                <p @click="select_status('accepted')" :class="selected_status == 'accepted' ? 'active': ''">Новые</p>
                <p @click="select_status('is_sorting')" :class="selected_status == 'is_sorting' ? 'active': ''">В процессе</p>
                <p @click="select_status('not_sorted_products')" :class="selected_status == 'not_sorted_products' ? 'active': ''">Товары к сортировке</p>
                <p @click="select_status('sorted')" :class="selected_status == 'sorted' ? 'active': ''">Сортирован</p>
            </div>

            <div class="columns" v-if="selected_status != 'not_sorted_products'">
                <p class="is_express"></p>
                <p class="comments">Номер заказа</p>
                <p class="company_name">ИП</p>
            </div>

            <div class="rows" v-if="selected_status != 'not_sorted_products'">
                <div class="row" v-for="order in orders">
                    <hr>
                    <div class="_row" @click="open_order(order)" style="cursor: pointer;">
                        <p class="is_express"><img v-if="order.is_express" src="{% static 'v2/imgs/is_express_icon.png' %}"></p>
                        <p class="comments">#${ order.id }</p>
                        <p class="company_name" style="text-decoration: none;">${ order.company_name }</p>
                    </div>
                </div>
            </div>

            <div class="list" v-if="selected_status == 'not_sorted_products'">
                <div class="card" v-for="purchase in purchases" @click="open_purchase(purchase)">
                    <div class="purchase_img" :style="'background-image: url(https://kassym.com/media/' + purchase.product_poster + ')'"></div>

                    <div class="text">
                        <p>${ purchase.product_name }</p>
                        <p>${ purchase.count } шт.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="window" v-if="opened_purchase != null">
        <div class="_window" style="width: fit-content">
            <div style="display: flex; flex-direction: column; gap: 5px;">
                <h3>${ opened_purchase.product_name }</h3>
            </div>

            <div class="info">
                <div class="purchase_img" @click="opened_product_image = 'https://kassym.com/media/' + opened_purchase.product_poster" :style="'background-image: url(https://kassym.com/media/' + opened_purchase.product_poster + ')'"></div>

                <div class="list">
                    <div class="texts" style="height: revert-layer; justify-content: normal; gap: 15px;">
                        <div class="text" v-if="opened_purchase.replaced_by_product_image">
                            <span>Фото заменён</span>
                            <p><a target="_blank" :href="'/media/' + opened_purchase.replaced_by_product_image">Посмотреть</a></p>
                        </div>

                        <div class="text" v-for="order in opened_purchase.orders">
                            <span @click="open_order(order)" style="text-decoration: underline; cursor: pointer">#${ order.id }</span>
                            <p>${ order.product_count } шт.</p>
                        </div>
                    </div>
                </div>
            </div>

            <img src="{% static 'v2/imgs/close_form.png' %}" class="close_window_btn" @click="close_purchase_window()">
        </div>
    </div>

    <div class="window product_image_window" v-if="opened_image">
        <div class="_window">
            <img src="{% static 'v2/imgs/close_form.png' %}" class="close_window_btn" @click="opened_image = ''">
            <img class="product_image" :src="opened_image">
        </div>
    </div>

    <div class="window" v-if="opened_order != null">
        <div class="_window">
            <div class="header_and_actions">
                <h3>#${ opened_order.id }/${ opened_order.company_name }</h3>
            </div>

            <div class="info">
                <div class="list">
                    <div class="text" v-if="opened_order.status != 'accepted'">
                        <span v-if="opened_order.status == 'is_sorting'">Кем сортируется</span>
                        <span v-else-if="opened_order.status == 'sorted'">Кем сортирован</span>
                        <p>${ opened_order.is_sorting_by }</p>
                    </div>
                    <div class="text">
                        <span>Номер менеджера</span>
                        <p>${ opened_order.manager_phone_number }</p>
                    </div>
                    <div class="text">
                        <span>Имя менеджера</span>
                        <p>${ opened_order.manager_first_name } ${ opened_order.manager_last_name }</p>
                    </div>
<!--                        <div class="text">-->
<!--                            <span>Номер клиента</span>-->
<!--                            <p>${ opened_order.client_phone_number }</p>-->
<!--                        </div>-->
                    <div class="text">
                        <span>Кол. товаров</span>
                        <p>${ opened_order.total_products_count } шт</p>
                    </div>
                    <div class="text">
                        <span>Лист подбора</span>
                        <p><a @click="open_object_file(opened_order, 'selection_sheet_file')" style="text-decoration: underline">Посмотреть</a></p>
                    </div>
                    <div class="text">
                        <span>QR поставки</span>
                        <p><a @click="open_object_file(opened_order, 'deliveries_qr_code')" style="text-decoration: underline">Посмотреть</a></p>
                    </div>
                </div>

                <p class="comments" v-if="opened_order.comments">
                    <span v-for="order_item in opened_order.order_items">
                        <span v-if="order_item.comments">
                            ${ order_item.product.name }: <br> ${ order_item.comments } <br><br>
                        </span>
                    </span>
                    <span v-if="opened_order.comments">Комментария к заказу: <br> ${ opened_order.comments } </span>
                </p>
            </div>

            <div class="pre_table">
                <div class="table">
                    <div class="columns">
                        <p class="index">№</p>
                        <p class="name">Товар</p>
                        <p class="type">Тип</p>
                        <p class="qr_code">QR Code</p>
                        <p class="buyer">Закупщик</p>
                        <p class="status">Статус</p>
                        <p class="is_sorted">Сортирован</p>
                    </div>

                    <hr>

                    <div class="rows">
                        <div class="_row" v-for="(order_item, order_item_index) in opened_order.order_items" :key="order_item_index">
                            <div class="row" v-for="(purchase, purchase_index) in order_item.purchases" :key="purchase_index" :style="purchase.status_display == 'Нет в наличий' ? 'opacity: 0.3; pointer-events: none;' : ''">
                                <p class="index">${ get_previous_purchases_count(order_item_index) + purchase_index + 1 }</p>
                                <p class="name"><a :href="'/product/?product_id=' + order_item.product.id" target="_blank">${ order_item.product.name }</a></p>

                                <p class="type" v-if="order_item.product.category != 7">${ order_item.product.market }</p>
                                <p class="type" v-else="">Китай</p>

                                <p class="qr_code"><a :href="order_item.qr_code" target="_blank">QR Code</a></p>

                                <p class="buyer" v-if="purchase.buyer">${ purchase.buyer.first_name } ${ purchase.buyer.last_name }</p>
                                <p class="buyer" v-else=""></p>

                                <p :class="'status ' + purchase.status">
                                    <span v-if="purchase.status == 'replaced'">
                                        <a target="_blank" :href="purchase.replaced_by_product_image" style="color: blue; text-decoration: underline">${ purchase.status_display }</a>
                                    </span>
                                    <span v-else="">${ purchase.status_display }</span>
                                </p>

                                <p class="is_sorted"><input :disabled="sorting_disabled(purchase)" type="checkbox" v-model="purchase.is_sorted"></p>
                            </div>
                        </div>

                        <div class="reports" v-if="opened_order.status != 'accepted'">
                            <div class="report" style="display: flex; gap: 25px; margin-top: 15px" v-if="opened_order.sorted_report">
                                <span style="opacity: 0.6; width: 170px; height: 40px; overflow: hidden; line-break: anywhere;">Фото отчет заказа</span>
                                <a style="text-decoration: underline" @click="opened_image=opened_order.sorted_report">Посмотреть</a>
                            </div>

                            <div class="report" style="display: flex; gap: 25px; margin-top: 15px" v-for="(report, report_index) in get_order_reports()" :key="report_index">
                                <span style="opacity: 0.6; width: 170px; height: 40px; overflow: hidden; line-break: anywhere;">Фото отчет #${ report_index + 1 }<br><span v-if="report_is_new(report)">${ report }</span></span>
                                <a v-if="!report_is_new(report)" style="text-decoration: underline" @click="opened_image=report">Посмотреть</a>

                                <div v-else-if="!is_saving_changes" class="upload" style="display: flex; flex-direction: column; gap: 5px">
                                    <input :disabled="is_saving_changes" type="file" style="display: none" :id="'report_upload_' + report_index" @change="handle_report_upload($event, report_index)">

                                    <label :for="'report_upload_' + report_index">
                                        <a v-if="!report_is_uploaded(report)" style="text-decoration: underline">Загрузить</a>
                                        <a v-else="" style="text-decoration: underline">Заменить</a>
                                    </label>

                                    <a style="text-decoration: underline" @click="remove_report(report_index)">Удалить</a>
                                </div>
                            </div>

                            <p v-if="opened_order.status == 'is_sorting' && !is_saving_changes" style="margin: 15px 0;"><a @click="add_report()" style="text-decoration: underline;">+1 Фото отчет</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="actions">
                <button v-if="!is_saving_changes && opened_order.status == 'accepted' && start_to_sort_available()" @click="start_to_sort()">Приступить к сортировке</button>
                <button v-if="!is_saving_changes && opened_order.status == 'is_sorting'" @click="finish_sorting()">Cортирован</button>
                <button v-if="!is_saving_changes && opened_order.status == 'is_sorting'" @click="save_sorting()">Cохранить изменения</button>
                <button v-if="is_saving_changes" @click="save_sorting()">Сохранить</button>
                <button v-if="is_saving_changes" @click="is_saving_changes = false">Отменить</button>
                <input type="file" style="display: none" id="sorted_report_upload_input" @change="handle_sorted_report_upload_input($event)">
            </div>

            <img src="{% static 'v2/imgs/close_form.png' %}" class="close_window_btn" @click="close_order()">
        </div>
    </div>
</div>

